title 404 not found!
link(href="https://fonts.googleapis.com/css?family=Merriweather",rel="stylesheet")
link(rel="stylesheet",href="/styles/404NotFound.css")

div(class="supper-man")
	img(src="/images/supper_man.png")
div(class="title") 404!
p The Page You're Looking For Was Not Found.
button Go back!

script(src="script/404NotFound.js")

